<div class="col-md-4">
    <div class="card" data-id="<%= item.id %>">
        <%= image_tag portfolio_img(item.thumb_image, "thumb"), style: 'max-height:10rem;width:auto;'%>

        <p class="card-text">
        <span><%= link_to item.title, portfolio_show_path(item) %></span>        <%= item.subtitle %></p>
        </p>
    </div>
</div>


