<div class="col-sm-3 offset-sm-1 blog-sidebar">
<div class="sidebar-module sidebar-module-inset">
  <h4>About</h4>
  <p><em>My first blog is going to be here.</em></p>
</div>
<div class="sidebar-module">
  <h4>Elsewhere</h4>
  <ul class="list-links", style="list-style: none" >
    <li><a href="https://github.com/MonikaMusial"><%= fa_icon "github"%></a></li>
    <li><a href="https://www.linkedin.com/in/monika-musiał-156b1110"><%= fa_icon "linkedin"%></a></li>
  </ul>
</div>
</div><!-- /.blog-sidebar -->