<div class="collapse bg-inverse" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted">I have 12 years’ experience in IT sector as a part of international project teams (Germany, USA, UK, Nigeria, Israel, India, Portugal) including four	years	of	software	development	experience	(PHP,C#, SQL) and six	years	of	working	with	clients	as	System Analyst,	conducting	business	meetings, gathering clients’	requirements.
I worked in SCRUM and have SCRUM Master certificate. My strong points are logical thinking, good communication and troubleshooting skills. Since half year I am passionate about Ruby on Rails.</p>

      </div>
      <div class="col-sm-4 py-4">
        <h4 class="text-white">Explore</h4>
        <ul class="list-unstyled">
           <%= nav_helper "text-white", "li"%>
          <li><%= login_helper "text-white"%></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-inverse bg-inverse">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand">Monika Musiał</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>

