<h1>About me</h1>
<p>I have 12 years’ experience in IT sector as a part of international project teams (Germany, USA, UK, Nigeria, Israel, India, Portugal) including four	years	of	software	development	experience	(PHP,C#, SQL) and six	years	of	working	with	clients	as	System Analyst,	conducting	business	meetings, gathering clients’	requirements.
I worked in SCRUM and have SCRUM Master certificate. My strong points are logical thinking, good communication and troubleshooting skills. Since half year I am passionate about Ruby on Rails.</p>
