<h1>Hello <%= current_user.first_name %></h1>

<%
=begin%>
 <h1>Blog posts</h1>
<%= @posts.inspect %>

<h1>Skills</h1>
<%= @skills.inspect %>
<%
=end%>

<hr>

<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Whatever I am doing, I am doing it with passion, otherwise there is no point of wasting my time.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


